form {

    .images {
        margin-top: 10px;
        margin-bottom: 30px;
        width: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .inner {
            display: flex;
            width: fit-content;

            .image {
                width: 200px;
                height: 120px;
                background-color: white;
                border-radius: 2px;
    
                @include coverBackground;
    
                &.placeholder {
                    position: relative;
                    border: 2px dashed $grey-200;
                    transition: $transition;
                    cursor: pointer;
    
                    background-image: url("/img/icons/plus.svg");
                    @include containBackground;
                    background-size: 20px;
    
                    &:hover {
                        border: 2px dashed $black; 
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 100%;
                        height: 100%;
                        
                        object-fit: cover;
                        pointer-events: none;
                    }

                    input {
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
    
                & + .image {
                    margin-left: 15px;
                }
            }
        }
    }
}

