.button {
    display: inline-block;

    padding: 12px 30px;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    transition: $transition;

    background-color: $black;

    color: white;

    &:hover {
        background-color: $green;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    padding-top: 4px;
    border-radius: 100%;
    transition: 250ms ease-in-out;
    cursor: pointer;

    background-color: transparent;

    &:hover,
    &:focus,
    &.active
    {
        background-color: $grey-200;
    }
}
