.card {
    background-color: white;

    &.test-result {
        display: flex;
        justify-content: space-between;

        padding: 50px 60px;

        .item {
            text-align: center;

            h1 {
                font-weight: 600;
                font-size: 35px;

                & + p {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}