.overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    @media (max-width: $media-large-xl) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $media-medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        box-shadow: $box-shadow-1;
        padding: 30px;

        background: white;

        .title {
            min-height: 52px;
            margin-bottom: 15px;
        }

        .text {
            margin-bottom: 15px;
            min-height: 35px;
            overflow: hidden;
            font-weight: 300;
        }

        .date {
            margin-bottom: 10px;
        }

        .progress {
            border-radius: 20px;
            height: 5px;

            background-color: $grey-200;

            .inner {
                width: 0%;
                border-radius: 20px;
                height: 5px;

                transition: 450ms ease-out;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                &.red {
                    background: $red;
                }
                &.orange {
                    background: $orange;
                }
                &.green {
                    background: $green;
                }
            }
        }

        .controls {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;

            visibility: hidden;
            opacity: 0;

            transition: opacity $transition;

            .control {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                width: 100%;
                
                background-color: $blue-700;
                transition: $transition;

                p {
                    color: white;
                    margin-top: 15px;
                    pointer-events: none;
                }

                img {
                    pointer-events: none;
                }

                &:hover {
                    background-color: $blue-800;
                }
            }
        }

        &.dashboard {
            
            .title {
                min-height: unset;
                white-space: nowrap;
                max-width: calc(100% - 30px);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .dashboard-controls {
                margin-bottom: 40px;
                min-height: 30px;
    
                .control {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                    p {
                        color: $black;
                        transition: $transition;
                    }
        
                    svg {
                        width: 13px;
                        height: 13px;
                        margin-right: 10px;
                        
                        path {
                            stroke: $black;
                            fill: white;
                            stroke-linejoin: round;
                            transition: $transition;
                        }
                    }

                    &:hover {
                        p {
                            color: $green;
                        }

                        svg {
                            path {
                                stroke: $green;
                            }
                        }
                    }
    
                    & + .control {
                        margin-top: 8px;
                    }
                }
            }
        }

        &.test {
            .text {
                margin-bottom: 0;
            }
            .title {
                min-height: unset;
            }
            .status {
                margin-bottom: 20px;
            }
        }

        &.upload {
            padding: 0;
            background: transparent;

            .image {
                position: relative;

                padding-top: 70%;

                background-size: cover;
                background-position: center;

                embed {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;
                    margin-bottom: 15px;
                }
            }
        }

        &:hover {
            .controls {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0 20px;

        p {
            display: table-cell!important;
            width: 140px;
        }
    }

    &.list {
        display: block;

        .item {
            flex-direction: row;
            align-items: center;
            transition: $transition;

            padding: 19px 30px;

            & > a {
                display: inline-block;
                width: 100%;
            }
            

            .title {
                min-height: unset;
                margin-bottom: 5px;
            }
            .text {
                min-height: unset;
                margin: 0;
            } 
            .controls {
                position: static;

                visibility: visible;
                opacity: 1;

                .control {
                    position: relative;

                    background: white;
                    margin-left: 5px;

                    width: 50px;
                    height: 50px;

                    img {
                        z-index: 1;
                        pointer-events: none;
                        max-width: 25px;
                        max-height: 21px;
                    }

                    &::before {
                        content: '';

                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        transition: $transition;

                        border-radius: 100%;
                        z-index: 0;
                        opacity: 0;

                        background-color: $grey-100;
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }

            & + .item  {
                margin-top: 15px;
            }
        }
    }

    &.orders {

        .item {
            padding: 20px;

            &:hover {
                box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
            }
        }

        .row {
            display: flex;
        }

        p {
            width: 140px;
            display: inline-block;
        }

        .order-dot {
            display: inline-block;

            width: 7px;
            height: 7px;
            margin-right: 5px;
            margin-bottom: 1px;
            border-radius: 100%;

            &.red {
                background-color: $red;
            }
            &.orange {
                background-color: $orange;
            }
            &.green {
                background-color: $green;
            }
        }
    }

    .overview-part {

        & + .overview-part {
            margin-top: 40px;
        }
    }
}