.overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    @media (max-width: $media-large-xl) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $media-medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
    }


    .item {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        box-shadow: $box-shadow-1;
        padding: 30px;

        background: white;

        .title {
            min-height: 60px;
            margin-bottom: 10px;
        }

        .text {
            margin-bottom: 30px;
            min-height: 35px;
        }

        .progress {
            border-radius: 20px;
            height: 5px;

            background-color: $grey-200;

            .inner {
                width: 30%;
                border-radius: 20px;
                height: 5px;

                &.red {
                    background: $red;
                }
                &.orange {
                    background: $orange;
                }
                &.green {
                    background: $green;
                }
            }
        }

        .controls {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;

            visibility: hidden;
            opacity: 0;

            transition: opacity $transition;

            .control {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                width: 100%;
                
                background-color: $blue-700;

                p {
                    color: white;
                    margin-top: 15px;
                }

                &:nth-child(2) {
                    background-color: $blue-800;
                }
            }
        }

        &:hover {
            .controls {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.list {
        display: block;

        .item {
            flex-direction: row;

            padding: 20px 30px;
            

            .title {
                min-height: unset;
                margin-bottom: 5px;
            }
            .text {
                min-height: unset;
                margin: 0;
            } 
            .controls {
                position: static;
            }
        }
    }
}