@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600,700&display=swap);@import url(https://use.typekit.net/trg2yhi.css);* {
  font-family: "Josefin Sans", sans-serif;
  color: #212121;
}

::-moz-selection {
  background-color: #4DAD92;
  color: white;
}

::selection {
  background-color: #4DAD92;
  color: white;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

h1 + p {
  margin-top: 15px;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h4 {
  font-family: proxima-nova, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
  color: #C6C6C6;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

h6,
label,
input,
textarea {
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #C6C6C6;
}

p.green {
  color: #4DAD92;
}

p.green img {
  margin-right: 7px;
}

p.black {
  color: #212121;
}

p.red {
  color: #F73C2E;
}

p.center {
  text-align: center;
}

p.right {
  text-align: center;
}

a {
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

a.grey {
  color: #C6C6C6;
}

a.grey:hover {
  color: #4DAD92;
  opacity: 1;
}

a.green {
  color: #4DAD92;
}

a.green:hover {
  color: #212121;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  z-index: 2;
  background-color: white;
}

@media (max-width: 800px) {
  header {
    justify-content: space-between;
  }
}

header .logo {
  display: inline-block;
  height: 80px;
  width: 80px;
  cursor: pointer;
  background-image: url("/img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 30px;
}

@media (max-width: 800px) {
  header .logo {
    background-image: url("/img/logo-large.svg");
    width: 130px;
    background-size: 130px;
    margin-left: 30px;
  }
}

header .menu {
  width: calc(100% - 80px);
  border-left: 2px solid #F8F8F8;
}

@media (max-width: 800px) {
  header .menu {
    display: none;
  }
}

header .menu .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 80px;
}

@media (max-width: 1200px) {
  header .menu .inner {
    padding: 0 40px;
  }
}

header .menu .inner nav {
  display: flex;
}

header .menu .inner .item {
  padding: 30px 0;
}

header .menu .inner .item a {
  font-size: 16px;
  font-weight: 600;
}

header .menu .inner .item a:hover,
header .menu .inner .item a.active {
  opacity: 0.4;
}

header .menu .inner .item.-has-submenu {
  position: relative;
  display: flex;
  align-items: center;
}

header .menu .inner .item.-has-submenu::after {
  content: "";
  display: inline-block;
  margin-left: 7px;
  width: 10px;
  height: 6px;
  background-image: url("/img/icons/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

header .menu .inner .item.-has-submenu .submenu {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  padding: 20px 30px;
  margin-left: -30px;
  min-width: calc(100% + 60px);
  background: white;
}

header .menu .inner .item.-has-submenu .submenu a + a {
  margin-top: 10px;
}

header .menu .inner .item.-has-submenu:hover > a {
  opacity: 1;
}

header .menu .inner .item.-has-submenu:hover .submenu {
  opacity: 1;
  visibility: visible;
}

header .menu .inner .item + .item {
  margin-left: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  position: fixed;
  top: 80px;
  width: 80px;
  height: calc(100vh - 80px);
  border-top: 2px solid #F8F8F8;
  background-color: white;
}

@media (max-width: 680px) {
  .sidebar {
    display: none;
  }
}

.sidebar .info {
  transform: rotate(-90deg);
  white-space: nowrap;
  color: #C6C6C6;
}

.sidebar .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #F8F8F8;
  height: 80px;
  width: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
}

body main {
  display: flex;
}

body main .content {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0 0 80px;
  background-color: #F8F8F8;
}

@media (max-width: 680px) {
  body main .content {
    padding: 80px 0 0 0;
  }
}

body main .content .part {
  padding: 80px;
  max-width: 1260px;
  margin: auto;
}

body main .content .part + .part {
  padding-top: 0;
}

body main .content .part.small .container {
  margin: auto;
  max-width: 700px;
}

@media (max-width: 1200px) {
  body main .content .part {
    padding: 80px 40px 80px 40px;
  }
}

@media (max-width: 800px) {
  body main .content .part {
    padding: 50px 30px;
  }
}

body main .content .part .container + .container {
  margin-top: 40px;
}

.login-container {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.login-container .image {
  width: 40%;
  overflow: hidden;
}

.login-container .image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.login-container form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.login-container form.register {
  align-items: flex-start;
  max-width: 300px;
  margin: auto;
}

.login-container form .login-inputs {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}

.login-container .register-question {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  transition: 250ms ease-in-out;
  background-color: #212121;
  color: white;
}

.button:hover {
  background-color: #4DAD92;
}

.button.hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-top: 4px;
  border-radius: 100%;
  transition: 250ms ease-in-out;
  cursor: pointer;
  background-color: transparent;
}

.icon-button:hover,
.icon-button:focus,
.icon-button.active {
  background-color: #EFEFEF;
}

.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

@media (max-width: 1200px) {
  .overview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .overview {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .overview {
    grid-template-columns: repeat(1, 1fr);
  }
}

.overview .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.02);
  padding: 30px;
  background: white;
}

.overview .item .title {
  min-height: 60px;
  margin-bottom: 10px;
}

.overview .item .text {
  margin-bottom: 30px;
  min-height: 35px;
}

.overview .item .progress {
  border-radius: 20px;
  height: 5px;
  background-color: #EFEFEF;
}

.overview .item .progress .inner {
  width: 30%;
  border-radius: 20px;
  height: 5px;
}

.overview .item .progress .inner.red {
  background: #F73C2E;
}

.overview .item .progress .inner.orange {
  background: #FFC400;
}

.overview .item .progress .inner.green {
  background: #4DAD92;
}

.overview .item .controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.overview .item .controls .control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background-color: #1B182A;
}

.overview .item .controls .control p {
  color: white;
  margin-top: 15px;
}

.overview .item .controls .control:nth-child(2) {
  background-color: #0F0D19;
}

.overview .item:hover .controls {
  visibility: visible;
  opacity: 1;
}

.overview.list {
  display: block;
}

.overview.list .item {
  flex-direction: row;
  padding: 20px 30px;
}

.overview.list .item .title {
  min-height: unset;
  margin-bottom: 5px;
}

.overview.list .item .text {
  min-height: unset;
  margin: 0;
}

.overview.list .item .controls {
  position: static;
}

.hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-left: 2px solid #F8F8F8;
}

@media (max-width: 800px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger .inner {
  position: relative;
  width: 21px;
  height: 17px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.hamburger .inner span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 250ms ease-in-out;
  display: inline-block;
  width: 21px;
  height: 3px;
  border-radius: 40px;
  background: #212121;
}

.hamburger .inner span:nth-child(1) {
  bottom: unset;
}

.hamburger .inner span:nth-child(3) {
  top: unset;
}

.hamburger.active .inner {
  margin-left: 5px;
}

.hamburger.active .inner span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 2px);
  width: 15px;
}

.hamburger.active .inner span:nth-child(2) {
  opacity: 0;
}

.hamburger.active .inner span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px);
  width: 15px;
}

form label {
  display: block;
}

form label + input,
form label + textarea {
  margin-top: 10px;
}

form input[type=text],
form input[type=email],
form input[type=number],
form input[type=password],
form textarea {
  padding: 16px 15px;
  width: 100%;
  border: none;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.02);
  outline: none;
  -webkit-appearance: none;
  font-weight: 500;
  font-size: 14px;
}

form input[type=text]::-webkit-inner-spin-button,
form input[type=text]::-webkit-outer-spin-button,
form input[type=email]::-webkit-inner-spin-button,
form input[type=email]::-webkit-outer-spin-button,
form input[type=number]::-webkit-inner-spin-button,
form input[type=number]::-webkit-outer-spin-button,
form input[type=password]::-webkit-inner-spin-button,
form input[type=password]::-webkit-outer-spin-button,
form textarea::-webkit-inner-spin-button,
form textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type=text] + label,
form input[type=email] + label,
form input[type=number] + label,
form input[type=password] + label,
form textarea + label {
  margin-top: 30px;
}

form input[type=text]::-webkit-input-placeholder, form input[type=email]::-webkit-input-placeholder, form input[type=number]::-webkit-input-placeholder, form input[type=password]::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: #C6C6C6;
}

form input[type=text]::-moz-placeholder, form input[type=email]::-moz-placeholder, form input[type=number]::-moz-placeholder, form input[type=password]::-moz-placeholder, form textarea::-moz-placeholder {
  color: #C6C6C6;
}

form input[type=text]:-ms-input-placeholder, form input[type=email]:-ms-input-placeholder, form input[type=number]:-ms-input-placeholder, form input[type=password]:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #C6C6C6;
}

form input[type=text]::-ms-input-placeholder, form input[type=email]::-ms-input-placeholder, form input[type=number]::-ms-input-placeholder, form input[type=password]::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  color: #C6C6C6;
}

form input[type=text]::placeholder,
form input[type=email]::placeholder,
form input[type=number]::placeholder,
form input[type=password]::placeholder,
form textarea::placeholder {
  color: #C6C6C6;
}

form input[type=text].cirkel,
form input[type=email].cirkel,
form input[type=number].cirkel,
form input[type=password].cirkel,
form textarea.cirkel {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  transition: box-shadow 250ms ease-in-out;
  font-weight: 600;
  text-align: center;
}

form input[type=text].cirkel.cirkel,
form input[type=email].cirkel.cirkel,
form input[type=number].cirkel.cirkel,
form input[type=password].cirkel.cirkel,
form textarea.cirkel.cirkel {
  margin-left: 10px;
}

form input[type=submit] {
  outline: none;
  margin-top: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

form input[type=checkbox] {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

form textarea {
  resize: none;
  height: 100px;
}

form textarea.large {
  height: 350px;
}

form .form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form .form-control label {
  min-width: 100px;
}

form .form-control input {
  margin: 0;
}

form .form-control.form-control {
  margin-top: 15px;
}

.question {
  position: relative;
  padding: 21px 60px 21px 20px;
  margin-top: 20px;
  max-height: 59px;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
}

.question + .question {
  margin-top: 10px;
}

.question .title {
  margin-bottom: 20px;
}

.question .icon {
  position: absolute;
  right: 20px;
  top: 23px;
  height: 13px;
  width: 13px;
}

.question .icon span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  transition: 250ms ease-in-out;
  margin: auto;
  width: 13px;
  height: 2px;
  border-radius: 10px;
  background-color: #212121;
}

.question .icon span:nth-child(2) {
  transform: rotate(90deg);
}

.question p {
  cursor: auto;
}

.question.active {
  max-height: unset;
}

.question.active span:nth-child(2) {
  width: 0;
}

.sub-menu {
  display: flex;
}

.sub-menu .item + .item {
  margin-left: 15px;
}

