* {
    font-family: 'Josefin Sans', sans-serif;
    color: $black;
}

::selection {
    background-color: $green;
    color: white;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;

    & + p {
        margin-top: 15px;
    }
}

h2 {
    font-size: 22px;
    line-height: 26px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

h4 {
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    color: $grey-300;
}

h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

h6,
label,
input,
textarea
{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: $grey-300;

    &.green {
        color: $green;

        img {
            margin-right: 7px;
        }
    }
    &.black {
        color: $black;
    }

    &.red {
        color: $red;
    }

    &.center {
        text-align: center;
    }

    &.right {
        text-align: center;
    }
}

a {
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;

    transition: color 250ms ease-in-out;

    &.grey {
        color: $grey-300;

        &:hover {
            color: $black;
            opacity: 1;
        }
    }

    &.green {
        color: $green;

        &:hover {
            color: $black;
        }
    }
    &.red {
        color: $red;
        
    }
}