$box-shadow-1: 0 2px 30px rgba(0, 0, 0, 0.02);
$box-shadow-2: 0 2px 10px rgba(0, 0, 0, 0.03);

$transition: 250ms ease-in-out;

$max-width: 1260px;

$media-large-xl: 1200px;
$media-large: 1000px;
$media-medium: 800px;
$media-small: 680px;