* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $grey-100;

    > .container {
        display: flex;

        .content {
            width: 100%;
            min-height: 100vh;
            padding: 80px 0 0 80px;

            background-color: $grey-100;

            @media (max-width: $media-small) {
                padding: 80px 0 0 0;
            }

            .part {
                padding: 80px;

                max-width: $max-width;
                margin: auto;

                & + .part {
                    padding-top: 0;
                }

                &.small {
                    .container {
                        margin: auto;
                        max-width: 700px;
                    }
                }

                @media (max-width: $media-large-xl) {
                    padding: 80px 40px 80px 40px;
                }

                @media (max-width: $media-medium) {
                    padding: 50px 30px;
                }

                .container {

                    & + .container {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}