.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    position: fixed;
    top: 80px;

    width: 80px;
    height: calc(100vh - 80px);
    border-top: 2px solid $grey-100;

    background-color: white;

    .info {
        transform: rotate(-90deg);

        white-space: nowrap;
        color: $grey-300;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;

        border-top: 2px solid $grey-100;

        height: 80px;
        width: 80px;
    }
}